<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Workouts</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <meta http-equiv="cleartype" content="on">
  <link rel="stylesheet" href="style.css">

</head>
<body ng-app=workouts>

  <div class="row" ng-controller='WorkoutCtrl as ctrl'>
    <h1>Workouts</h1>

    <form name='newExcerciseForm'
      ng-submit="ctrl.create()"
      >
      <fieldset name="fromOld">
        <input  name=name style='width: 120px' ng-model=ctrl.exercise.name>
        at
        <input pattern="[\d]+" type=number name=reps ng-model=ctrl.exercise.reps>
        x
        <input nearest-quarter step="any" pattern="[\d]+(.[\d]+)?" type=number name=weight ng-model=ctrl.exercise.weight>
        kg
      </fieldset>
      <fieldset name="overload" ng-if="ctrl.previousExercise">
        <div>
          <label>
            Previous
          </label>
          <span>{{ ctrl.previousExercise.reps }} x {{ ctrl.previousExercise.weight | nearestQuarter }}kg</span>
          <span class=output>{{ ctrl.overload() | percentChange }}</span>
        </div>

      </fieldset>

      <input type=submit ng-disabled=newExcerciseForm.$invalid>
    </form>

    <ul class='exercises'>
      <li ng-repeat='performance in ctrl.performances track by performance.id'
          ng-click='ctrl.performanceSelected(performance)'
          ng-class='{ exercise: !performance.date }'
          >
        {{ performance.description }}
        <button class=remove
                ng-if="!performance.date"
                ng-click='ctrl.remove(performance.exercise)'>
          X
        </button>
      </li>
    </ul>

  </div>

  <script src="angular.js"></script>
  <script src="angular-locale-enGb.js"></script>
  <script src="lodash.js"></script>
  <script src="app.js"></script>
</body>
