<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Workouts</title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <meta http-equiv="cleartype" content="on">
  <link rel="stylesheet" href="style.css">

</head>
<body ng-app=workouts>

  <div class="row" ng-controller='WorkoutCtrl as ctrl'>
    <h1>Workouts</h1>

    <form name='newExcerciseForm'
      ng-submit="ctrl.create()"
      >
      <fieldset name="fromOld">
        <input name=name ng-model=ctrl.exercise.name>
        x
        <input type=number name=reps ng-model=ctrl.exercise.reps>
        reps at

        <input type=number name=weight ng-model=ctrl.exercise.weight>
        kg
      </fieldset>
      <fieldset name="overload">
        <div>
          <label>
            Overload
          </label>
          <input type=number name=percentIncrease ng-model=ctrl.exercise.percentIncrease>
        </div>

        <div>
          <label>
            New Reps
          </label>
          <input type=number name=overloadReps ng-model=ctrl.exercise.targetReps>
        </div>

        <div>
          <label>
            New Weight
          </label>
          <span class=output>{{ ctrl.overloadWeight() | number }}kg</span>
        </div>
      </fieldset>
      <fieldset>
        <label>
          Reps Achieved
        </label>
        <input name=actualReps ng-model=ctrl.exercise.actualReps>

      </fieldset>

      <input type=submit>
    </form>

    <ul class='exercises'>
      <li ng-repeat='performance in ctrl.performances track by performance.id'
          ng-click='ctrl.performanceSelected(performance)'>
        {{ performance.description }}
        <button class=remove ng-click='ctrl.remove($index)'>
          X
        </button>
      </li>
    </ul>

  </div>

  <script src="angular.js"></script>
  <script src="lodash.js"></script>
  <script src="app.js"></script>
</body>
